body {
  background-color: black;
  }

#cara {
  background-color: #F5CBA7;
  border-radius: 50% 50% 50% 50% / 32% 32% 68% 68%;
  width: 410px;
  height: 550px;
}

.ojos {
  clip-path: ellipse(50% 30% at 50% 50%);
  width: 50px;
  height: 30px;
  
}
