body {background-color: black;
      background-image: url(estrellas3.jpg);
      background-repeat: no-repeat;
      background-size: cover;}

h1 {color: white;
    text-align: center;}

#Formulari {background-color: #C327FF;
            width: 450px;
            height: 544px;
            margin-left: 415px;}

img {width: 410px;
     margin: 20px;}
