body {background-color:cyan; font-family:helvetica; padding:0; margin:0;}

p {font-size:18px; line-height:22px; width:350px;}

h1 {font-size:20px; width:350px; margin-top:0; }

div {padding:0 0 0 0; background-position:400px; background-repeat:no-repeat;}

ul {text-align:right; list-style:none; padding:10px;}

li {display: inline; margin-right:10px; margin-left:10px;}

img {margin-top:50px; padding:25px;}

#cero {height:40px;
       background-color:#FFF;
       background-image:url(img/cero.png);
       background-position:25px;}

#uno {height:550px;
      background-color:#6C3;
      background-image:url(img/uno.png);}

#dos {height:641px;
      background-color:#FFF;
      background-image:url(img/dos.jpg)}

#tres {height:500px;
       background-color:#333333;
       background-image:url(img/tres.png)}

#cuatro {height:550px;
         background-color:#EEECEE;
         background-image:url(img/uno.png)}

#cinco {height:500px;
        background-color:#6C3;
        background-image:url(img/cinco.png)}

#seis {height:550px;
       background-color:#EEECEE;
       background-image:url(img/seis.png)}

#siete {height:200px;
        background-color:#333333;
        text-align: center;}
